@import "tailwindcss";

html,
body,
#root {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
  }
}